
/* problems page */

/* div.mx-2.flex.items-center span.text-olive{
  visibility: hidden;
}

div.mx-2.flex.items-center span.text-yellow{
  visibility: hidden;
}

div.mx-2.flex.items-center span.text-pink {
  visibility: hidden;
} */

/* individual question */

div.relative.inline-flex.items-center.justify-center.text-caption.px-2.py-1.gap-1.rounded-full.bg-fill-secondary.text-difficulty-easy{

  visibility: hidden;

}

div.relative.inline-flex.items-center.justify-center.text-caption.px-2.py-1.gap-1.rounded-full.bg-fill-secondary.text-difficulty-medium{
  visibility: hidden;
}

div.relative.inline-flex.items-center.justify-center.text-caption.px-2.py-1.gap-1.rounded-full.bg-fill-secondary.text-difficulty-hard{
  visibility: hidden;
}





#btnstart{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(9, 255, 181);
    top: 80px;
    right: 40px;
    z-index: 10px;
    position: fixed;
    float: left;
    opacity: 0.8;
   
}
@keyframes glow {
    0% {
      box-shadow: 0 0 10px 0 rgba(0, 255, 162, 0.7);
    }
    50% {
      box-shadow: 0 0 20px 10px rgba(0, 255, 162, 0.7);
    }
    100% {
      box-shadow: 0 0 10px 0 rgba(0, 255, 162, 0.7);
    }
  }

#btnstart:hover{
    animation: glow 2s ;
    /* background-color: rgb(193, 252, 234); */
    
}
